body {
  font-family: "Satoshi-Variable", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./assets/fonts/Satoshi-Variable.ttf');
}

